{
  "env": {
    "jest": true
  },
  "globals": {},
  "rules": {
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "ts": "never",
        "vue": "never"
      }
    ]
  }
}
